.form-container {
    /* max-width: 500px; */
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
  }

  /* .opacity-reduced {
    opacity: 0.5;
  } */

  /* .popup::before{
    opacity: 0.8;
    content: "";
    z-index: -1;
    background-color: #fff8f8;
    position: fixed;
    width: 100vw;
    height: 100vh;
  } */

  .popup::before{
    width: 100%;
    opacity: 0.8;
    content: "";
    z-index: -1;
    background-color: #ffffff;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  /* .popup { 
    width:100%;
    height:100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  } */

  .popup{
    width: 100%;
    height: 80vh;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

  /* .popup > h2{
    margin-top: 100px;
  } */

  .report-container{
    width: 90%;
    height: auto;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
  }

  .form-group > select{
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Public Sans,sans-serif;
    color: hsl(0, 0%, 20%);
    outline:1px #378fed;
  }

  .category-selection > select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Public Sans,sans-serif;
    color: hsl(0, 0%, 20%);
    margin-bottom: 15px;
    outline: none;
  }

  .line{
    width:100%;
    height: 1px;
    background-color: rgb(207, 203, 203);
    margin: 15px 0px;
  }
  
  .form-group > label {
    display: flex;
    align-items: center;
    /* display: block; */
    width:20%;
    /* margin-bottom: 5px; */
  }

  .multiselect{
    padding-right: 10px;
  }
  
  .multi-select {
    width: 80%;
    padding: 10px 0px;
    /* border-radius: 4px; */
    /* border: 1px solid #ccc; */
  }

  .submit-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  
  .submit-btn > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:250px;
    background-color: #4c53e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Public Sans,sans-serif;
  }

  /* .submit-btn > Link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:250px;
    background-color: #4c53e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Public Sans,sans-serif;
  } */

  .submit-btn > Link > button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:250px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Public Sans,sans-serif;
  }

  .close-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .close-button:hover{
    background-color: #007bff !important;
    color: #fff;
  }

  .table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #dedada;
}

.no-link-decoration {
  text-decoration: none;
  color: rgb(55, 53, 53);
}

/* .student-profile {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-image-section {
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
}

.profile-image-section img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-details {
  flex: 2;
}

.profile-row {
  display: flex;
  margin-bottom: 10px;
}

.profile-label {
  flex: 1;
  font-weight: bold;
}

input[type="text"] {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
} */

/* Responsive CSS */
/* @media (max-width: 600px) {
  .profile-row {
    flex-wrap: wrap;
  }

  .profile-row input[type="text"] {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .profile-row input[type="text"] {
    flex: 100%;
    margin-right: 0;
  }
} */


.chart-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px 0px;
}

.chart-selection{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.faculty-select{
  /* flex:1 1; */
  width: 50%;
  height: 30px;
  background-color: #dedada;
  border-radius: 4px;
  outline: none;
  border: none;
  color: rgb(56, 52, 52);
  padding-left: 10px;
  margin-right: 10px;
  font-family: Public Sans,sans-serif;
}

.chart-select{
  width: 50%;
  height: 30px;
  background-color: #dedada;
  border-radius: 4px;
  outline: none;
  border: none;
  color: rgb(56, 52, 52);
  padding-left: 10px;
  font-family: Public Sans,sans-serif;
}

.report-container > .chart-content > .chart-selection:nth-child(0){
  margin-right: 10px;
}

.chart-submit-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.chart-submit-btn > button{
  width: 20%;
  margin-right: 20px;
  font-family: Public Sans,sans-serif;
}

.profile-title{
  padding: 10px 0px;
}

.image-container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.profile-img{
  width:150px;
  height:150px;
  border-radius: 150px;
  border: 1px solid rgb(5, 34, 77);
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.profile-img > img{
  object-fit: contain;
  /* max-width: 100%;
  max-height: 100%; */
}

.profile-name{
  font-family: Public Sans,sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.grid-input{
  margin-bottom: 10px;
}

.grid-input > input{
  font-family: Public Sans,sans-serif;
}
/* input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
} */

/* .arrow-container {
  position: absolute;
  top: 100%;
  left: 0;
}

.arrow {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  margin-right: 0.5rem;
} */

/* Media Queries for Responsiveness */

@media (max-width: 800px) {
  .submit-btn{
    display: flex;
    justify-content: center;
  }
}
  
  @media (max-width: 600px) {
    .popup{
      height: auto;
    }

    .report-container{
      width: 100%;
      /* height:100vh; */
    }

    .form-group{
      display: flex;
      flex-direction: column;
    }

    .form-group > label{
      width:100%;
    }

    .form-container {
      max-width: 100%;
      padding: 10px;
    }

    /* .form-container > .form-group.middle > select {
      margin:10px 0;
    } */

    /* .form-group.middle > select:nth-child(3) {
      margin:10px 0;
    } */

    .form-group > select{
      margin-bottom: 15px;
    }

    .form-group > select:last-child{
      margin-bottom: 0px;
    }

    .multi-select{
      width: 100%;
    }

    .submit-btn{
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .submit-btn > button{
      width:100%;
      /* margin-bottom: 50px; */
    }

     .table-container {
    overflow-x: auto;
  }

  th,
  td {
    padding: 6px;
    font-size: 14px;
  }

  input {
    padding: 4px 8px;
  }
}

@media (max-width: 400px) {
  th,
  td {
    padding: 4px;
    font-size: 12px;
  }

  input {
    padding: 2px 4px;
  }
}
  